.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20vmin;
  color: white;
}

.red {
  background-color: #ca303d;
}

.green {
  background-color: #a0a433;
}

.yellow {
  background-color: #eec634;
}

.blue {
  background-color: #436b6f;
}

.Btn {
    border: 3px solid #ffffff;
    padding: 1rem 2rem;
    background-color: inherit;
    color: inherit;
    font-size: 3vmin;
    cursor: pointer;
}

.Btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.Btn:active {
    transform: scale(0.99);
}
